# Copy this file to `.env` and populate with values before starting.

# Your Discord Bot token so the relay can act on its behalf.
RELAY_DISCORD_BOT_TOKEN=XXXXXXXXXXXXX

# The URL where all messages from your Discord channels should be sent to.
RELAY_MESSAGE_DESTINATION_URL=https://destination.url.example

# An array of strings listing Discord channel IDs that collect messages to be relayed.
RELAY_DISCORD_CHANNEL_IDS=["1","2"]

# Optional credentials for when your destination URL requires basic HTTP auth.
RELAY_MESSAGE_DESTINATION_USERNAME=username
RELAY_MESSAGE_DESTINATION_PASSWORD=password

# When enabled, will display usernames and message text in console logs to help debugging.
RELAY_DISPLAY_SENSITIVE_DATA_IN_LOGS=false